<!DOCTYPE html>
<html>
<head>
  <title>Vinsol329</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id ="flash_id">
      <%= render 'shared/noticemsg' %>
    </div>
    <ul class='hmenu'>
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>      
    </ul>  
    <%= yield %>
  </div>
</body>
</html>
